.page-enter {
  opacity: 0;
  transform: translateY(20px) scale(0.98);
}
.page-enter-active {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 300ms, transform 300ms;
}
.page-exit {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.page-exit-active {
  opacity: 0;
  transform: translateY(-10px) scale(0.98);
  transition: opacity 300ms, transform 300ms;
}
